obj/bulk-insert-from-json-stream.csproj.nuget.dgspec.json
obj/bulk-insert-from-json-stream.csproj.nuget.g.props
obj/bulk-insert-from-json-stream.csproj.nuget.g.targets
obj/ConsoleApp3.csproj.nuget.cache
obj/ConsoleApp3.csproj.nuget.dgspec.json
obj/ConsoleApp3.csproj.nuget.g.props
obj/ConsoleApp3.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/ConsoleApp3.AssemblyInfo.cs
obj/Debug/net5.0/ConsoleApp3.AssemblyInfoInputs.cache
obj/Debug/net5.0/ConsoleApp3.assets.cache
obj/Debug/net5.0/ConsoleApp3.csproj.AssemblyReference.cache
obj/Debug/net5.0/ConsoleApp3.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/ConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/net5.0/ConsoleApp3.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ConsoleApp3.AssemblyInfo.cs
obj/Debug/net6.0/ConsoleApp3.AssemblyInfoInputs.cache
obj/Debug/net6.0/ConsoleApp3.assets.cache
obj/Debug/net6.0/ConsoleApp3.csproj.AssemblyReference.cache
obj/Debug/net6.0/ConsoleApp3.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/ConsoleApp3.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ConsoleApp3.dll
obj/Debug/net6.0/ConsoleApp3.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ConsoleApp3.genruntimeconfig.cache
obj/Debug/net6.0/ConsoleApp3.pdb
obj/Debug/net6.0/ref/ConsoleApp3.dll
obj/Debug/net6.0/refint/ConsoleApp3.dll
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/ConsoleApp3.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ConsoleApp3.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ConsoleApp3.assets.cache
obj/Debug/netcoreapp3.1/ConsoleApp3.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/ConsoleApp3.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ConsoleApp3.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/apphost.exe
obj/Release/net6.0/bulk-insert-from-json-stream.AssemblyInfo.cs
obj/Release/net6.0/bulk-insert-from-json-stream.AssemblyInfoInputs.cache
obj/Release/net6.0/bulk-insert-from-json-stream.assets.cache
obj/Release/net6.0/bulk-insert-from-json-stream.csproj.AssemblyReference.cache
obj/Release/net6.0/bulk-insert-from-json-stream.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/ConsoleApp3.AssemblyInfo.cs
obj/Release/net6.0/ConsoleApp3.AssemblyInfoInputs.cache
obj/Release/net6.0/ConsoleApp3.assets.cache
obj/Release/net6.0/ConsoleApp3.csproj.AssemblyReference.cache
obj/Release/net6.0/ConsoleApp3.csproj.BuildWithSkipAnalyzers
obj/Release/net6.0/ConsoleApp3.csproj.CoreCompileInputs.cache
obj/Release/net6.0/ConsoleApp3.csproj.FileListAbsolute.txt
obj/Release/net6.0/ConsoleApp3.dll
obj/Release/net6.0/ConsoleApp3.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/ConsoleApp3.genruntimeconfig.cache
obj/Release/net6.0/ConsoleApp3.pdb
obj/Release/net6.0/ref/ConsoleApp3.dll
obj/Release/net6.0/refint/ConsoleApp3.dll
CMC_Transplant_MRRF.json
bin/Debug/net6.0/ConsoleApp3.deps.json
bin/Debug/net6.0/ConsoleApp3.dll
bin/Debug/net6.0/ConsoleApp3.exe
bin/Debug/net6.0/ConsoleApp3.pdb
bin/Debug/net6.0/ConsoleApp3.runtimeconfig.json
bin/Release/net6.0/ConsoleApp3.deps.json
bin/Release/net6.0/ConsoleApp3.dll
bin/Release/net6.0/ConsoleApp3.exe
bin/Release/net6.0/ConsoleApp3.pdb
bin/Release/net6.0/ConsoleApp3.runtimeconfig.json
.vs/ProjectEvaluation/consoleapp3.metadata.v5.1
.vs/ProjectEvaluation/consoleapp3.projects.v5.1
